{
  "apiKey": "AIzaSy_REPLACE_WITH_WEB_API_KEY",
  "authDomain": "your-firebase-project-id.firebaseapp.com",
  "projectId": "your-firebase-project-id",
  "storageBucket": "your-firebase-project-id.appspot.com",
  "messagingSenderId": "FIREBASE_PROJECT_NUMBER",
  "appId": "1:FIREBASE_PROJECT_NUMBER:web:WEB_APP_HASH"
}
